    @Test
    public void test{{nameCamel}}() {
        cliTester.execute("{{name}} --count 3").success();
        cliTester.execute("{{name}} --count 3 --gender male").success();
        cliTester.execute("{{name}} --count 3 --gender female").success();
        cliTester.execute("{{name}} --count 3 --gender neutral").success();
    }